.recent-card{
    display: flex;
    background-color: white;
    height: 2rem;
    align-items: center;
    padding: 1rem 1.5rem ;
    border-radius: 0.8rem;
    margin-top: .5rem;
    margin-left: .5rem;
    justify-content: space-between;
    
}
.date{
    flex: 1;
    font-weight: normal;
    margin-right: ;
}
