.sales{
    heigth:55%;
}
.card-headings{
    display: flex;
    margin-top: 2rem;
    font-size: .8rem;
    justify-content: space-between;
    padding: 0 1.5rem 0 2rem;
}
.customer-id , date-title{
    flex: 1;
}
.customerid{
    flex: 1;
}
.customer-id{
    padding-right: 2rem;
}
.card-headings >h4{
    font-weight: normal;
}
.list-container{
    overflow-y: scroll;
    box-sizing: border-box;
    height: 80%;
    margin-top: .5rem;
    scrollbar-width:none;
}
