.search-form{
    display: flex;
    width: 40rem;
    height: 2rem;
    border-radius: .7rem;
    overflow: hidden;
    padding: 1rem;
    background-color: #E1E1E1;
}
.search-input{
    background: none;
    flex: 1;
    border: none;
    outline: none;
}
.search-button{
    background: none;
    border: none;
    cursor: pointer;
}
.search-dropdown{
    margin-top: 1rem;
}
