.sold-items{
    flex: 1;
    margin: 3rem 5rem;
    display: flex;
    flex-direction: column;
}
.items-heading{
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 0 2rem;
}
.items-heading > h4{
    font-weight: normal;
}
.item-list-container{
    overflow-y: scroll;
}
