.dashboard-section{
    display: flex;
    height:100%;
    background-color: #e6e6e6;
    border-radius: 2rem;
    padding: 1rem;
    
}
.sales-section{
    width: 60%;
    margin-left: 5rem;
}
.sales{ 
    height: 50%;
}
