.restock{
    display: flex;
    flex: 1;
    align-self: stretch;
}
.card-items-container{
    margin-top: 1rem;
}
.headings-container{
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 0 2rem;
}
.h1,.h2,.h3{
    font-weight: normal;
}
.h1{
    flex: 3;
}
.h2{
    flex: 1;
}
.item-details{
    margin-top: 1rem;
}
.item-detail{
    margin-top: 1rem;
}
.title-and-desc{
    margin-top: 2rem;
}
.restock-quantity{
    font-size: 2rem;
    font-weight: bold;
    border: 0;
    border-bottom-width: 0px;
    border-bottom: .1rem solid;
    min-width: 3rem;
    background-color: transparent;
    outline: none;
    min-height:3rem;
}
.items-a-tag{
    cursor: pointer;
}
.inventory-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label-input{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.item-submit-button > img{
    width: 2rem;
    height: 2rem;

}
.item-submit-button,.delete-button{
    
    margin-top: 1rem;
    height: fit-content;
    width: 4rem;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: .6rem;
    padding: .2rem;
    background-color: #ADDBEB;
    cursor: pointer;
    align-items: center;
}
.delete-button{
    width: fit-content;
    cursor: pointer;
    height: fit-content;
    align-items: center;
}
.delete-button > img{
    width: 2rem;
    height: 2rem;
    
}
.addbtn > img{
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
}
.addbtn{
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    align-items: center;
    display: flex;
    justify-content: center;
    outline: none;
    border: none;
    font-weight: bold;
    padding: .5rem;
    border-radius: 3rem;
}
