.restock{
    display: flex;
    flex: 1;
    align-self: stretch;
}
.headings-container{
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 0 2rem;
}
.h1,.h2,.h3{
    font-weight: normal;
}
.h1{
    flex: 3;
}
.h2{
    flex: 1;
}
.item-details{
    margin-top: 1rem;
}
.item-detail{
    margin-top: 1rem;
}
.title-and-desc{
    margin-top: 2rem;
}
.restock-quantity{
    font-size: 2rem;
    font-weight: bold;
    border: 0;
    border-bottom-width: 0px;
    border-bottom: .1rem solid;
    min-width: 3rem;
    background-color: transparent;
    outline: none;
    min-height:3rem;
}
