*{
  font-family: "Barlow", sans-serif;
  font-style: normal;
  margin: 0;

}
.body{
    display: flex;
    flex-direction: column;
    align-self: stretch;
}
.content{
 display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-around;
}
section{
    box-sizing: border-box;
}

.home > img{
    width:40rem;
    margin-right: 4rem;
}
.homeh2{
font-size: 3rem;
}
.hometxts{
    width: 60rem;
}
